.lens {
  height: 93%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  text-align: center;
}

.panel-element {
  display: inline-block;
}

.help {
  position: relative;
  float: left;
  display: inline-block;
  top: 1%;
  left: 1%;
  z-index: 100;
}

.dropdown {
  position: relative;
  float: left;
  display: inline-block;
  top: 1%;
  left: 1%;
  z-index: 100;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.selection-buttons {
  display: grid;
  grid-row: auto auto;
  padding-bottom: 0.25em;
  grid-row-gap: 0.5em;
}

.selection-buttons > a > button {
  width: 100%;
  padding: 0.25em;
}
