.gitbook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */

.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid black;
}

.sidenav a {
  /* text-decoration: none; */
  font-size: 1.2em;
  color: #212020;
  display: block;
}

.sidenav a:hover {
  color: #3a856b;
}

.main {
  overflow: scroll;
  /* Same as the width of the sidenav */
  margin-left: 10em;

  height: 100vh;
  width: 100%;
  border: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
