/* https://stackoverflow.com/a/31521337 */
.unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */

  -webkit-touch-callout: default; /* displays the callout */
  -webkit-touch-callout: none; /* disables the callout */

  /* https://stackoverflow.com/a/45855018 */
  cursor: default;
}

/* https://stackoverflow.com/a/45855018 */
html {
  /* -webkit-touch-callout: none; */
  /* -webkit-user-select: none; */
  -khtml-user-select: none;
  /* -moz-user-select: none; */
  -ms-user-select: none;
  /* user-select: none; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
